<!DOCTYPE html>
<html>
    <body>
        Hallo, <br/> <br/>

        Zwei (und in der Zukunft, vielleicht weitere) Personen haben sich für die Warteliste wegen dir angemeldet! <br/> <br/>

        Weil wir nur zwei Freunde sind, die dieses Startup errichten wollen, bedeutet uns jede Person, die sich <br/>
        anmeldet sehr viel. <br/> <br/>

        Sobald wir die App veröffentlichen, schicken wir dir eine E-Mail. Wenn du dich dort anmeldest, versichern wir dir, <br/>
        dass du sofort dein Plektrum und deinen Gutschein erhältst. <br/> <br/>

        Wenn du noch weitere Personen einladen möchtest, kannst du gerne deinen Link weiter verwenden: <br/>
        {{ referral_link }} <br/> <br/>

        Danke, dass du uns hilfst. <br/> <br/>

        – Piro & Bene, 2pick. <br/> <br/>

        P.S.: <br/>
        Obwohl diese E-Mail automatisch geschickt wird, lesen wir und antworten auf jede E-Mail, die du uns schickst. <br/> <br/>

    </body>
</html>