<!DOCTYPE html>
<html>
    <body>
        Hallo, <br/> <br/>

        Danke, dass du dich bei 2pick für die Warteliste angemeldet hast. <br/>
        Wir schätzen jeden Nutzer, der sich registriert. <br/> <br/>

        Wir stehen noch ganz am Anfang, und der schnellste Weg, 2pick voranzubringen, sind Empfehlungen von Leuten, die selbst spielen. <br/>
        Hier ist also unser Angebot: <br/> <br/>

        Wirb zwei Freunde (oder Bekannte!) für die Warteliste an über deinen Link, und wir schicken dir als Dankschön ein 2pick-Plektrum – plus einen
        10€ Gutschein für Gitarreninspektionen, sobald du dabei bist. <br/>
        Wir schicken dir dann eine E-Mail, wenn es soweit ist! <br/> <br/>

        Dein Link: {{ referral_link }} <br/> <br/>

        – Piro & Bene, 2pick. <br/> <br/>

        P.S.: <br/>
        Obwohl diese E-Mail automatisch geschickt wird, lesen wir jede E-Mail, die du uns schickst. <br/> <br/>

        Falls du kein Interesse auf diese E-Mails hast oder dich einfach von der Warteliste abmelden möchtest, kannst du diesen Link verwenden: <br/>
        {{ unsubscribe_link }}
    </body>
</html>
